{% extends "layout.html" %}
{% block body %}

<div class="row mt-3">
  <div class="col-lg-10">
    <div class="tab-pane" id="edit">
      <form>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Stream name</label>
          <div class="col-lg-9">
            <input class="form-control" type="text" value="" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Course</label>
          <div class="col-lg-9">
            <select class="form-control" name="course" id="course" required>
              <option value="btech">B.Tech</option>
              <!-- <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option> -->
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label">Duration (Years)</label>
          <div class="col-lg-9">
            <input class="form-control" type="number" value="" required>
          </div>
        </div>
        <!-- <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="">
                            </div>
                        </div> -->
        <!-- <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Subject</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Stream</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="">
                  </div>
                </div> -->


        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label"></label>
          <div class="col-lg-9">
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <input type="submit" class="btn btn-primary" value="Save Changes">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}